h1 {
    color: grey;
}
input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid lightgreen 2px;}
.form-group {max-width: 300px};
.exp-date {
    display: inline-flex;
    width: 70px;
}
.expiration-wrap {
    display: block;

}
.mybtn {
    margin-top: 20px; 
}